.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    height: 90vh;
    transform: translateX(-100px);
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
.aura-1{
    position: absolute;
    right: 0vw;
    width: 700px;
    height: 700px;
    opacity: 0.8;
}
.aura-2{
    float: left;
    width: 400px;
    height: 400px;
    margin: 0;
    opacity: 0.6;
}
.bx{
    font-size: 30px;
    margin-right: 15px;
    margin-top: 5px;
}
.bx:hover{
    cursor: pointer;
}
@keyframes travelLeft {
    50% { transform: translateX(-30vw);}
    100%   { transform: translateX(0vw);}
}
@keyframes travelRight {
    50% { transform: translateX(30vw);}
    100%   { transform: translateX(0vw);}
}
@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
  
@keyframes fadein {
    100%   { opacity:0.8; }
}

h1{
   font-size: 4rem; 
   margin: 0;
}